h1{
    color:brown
}
.header{
    background-color: #ab0917;
    display:flex ;
    justify-content:space-between ;
}
.lucky{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}